# Python
__pycache__/
*.pyc

# Backend local stuff
services/backend/dev.sqlite
services/backend/uploads/
services/backend/processed/
services/backend/.env

# Frontend build
services/frontend/dist/

# Node
node_modules/
